<!--
  Eclipse Public License - v 2.0

    THE ACCOMPANYING PROGRAM IS PROVIDED UNDER THE TERMS OF THIS ECLIPSE
    PUBLIC LICENSE ("AGREEMENT"). ANY USE, REPRODUCTION OR DISTRIBUTION
    OF THE PROGRAM CONSTITUTES RECIPIENT'S ACCEPTANCE OF THIS AGREEMENT.
-->

{#include admin-layout}
{#content}
<div class="form-card">
    <h1>Change Password</h1>
    {#if error}
    <p style="color: red">{error}</p>
    {/if}
    <form method="post" action="/profile/password">
        <div>
            <label>Old Password
                <input type="password" name="oldPassword" required>
            </label>
        </div>
        <div>
            <label>New Password
                <input type="password" name="newPassword" required>
            </label>
        </div>
        <div>
            <label>Confirm Password
                <input type="password" name="confirmPassword" required>
            </label>
        </div>
        <div class="form-actions">
            <button type="submit" class="action-button">Save</button>
        </div>
    </form>
</div>
{/content}
{/include}
