<!--
  Eclipse Public License - v 2.0

    THE ACCOMPANYING PROGRAM IS PROVIDED UNDER THE TERMS OF THIS ECLIPSE
    PUBLIC LICENSE ("AGREEMENT"). ANY USE, REPRODUCTION OR DISTRIBUTION
    OF THE PROGRAM CONSTITUTES RECIPIENT'S ACCEPTANCE OF THIS AGREEMENT.
-->

{#include admin-layout}
{#content}
<div class="support-header">
    <h1>Companies</h1>
    <a class="action-button" href="/companies/create">Create</a>
</div>
<table>
    <thead>
    <tr>
        <th>Name <button class="sort-button" type="button" onclick="sortTable(this, 0)">↕</button></th>
        <th>Country <button class="sort-button" type="button" onclick="sortTable(this, 1)">↕</button></th>
    </tr>
    </thead>
    <tbody>
    {#for company in companies}
    <tr>
        <td><a href="/companies/{company.id}">{company.name}</a></td>
        <td>{#if company.country}{company.country.name}{/if}</td>
    </tr>
    {/for}
    </tbody>
</table>
{/content}
{/include}
