{@java.lang.String customId = "countrySelect"}
{@java.lang.String customName = "countryId"}
{@java.lang.Boolean includePlaceholder = false}
<select name="{customName}" id="{customId}" onchange="loadTimezones(this)">
    {#if includePlaceholder}
    <option value="">Select country</option>
    {/if}
    {#for country in countries}
        <option value="{country.id}" {#if (selectedCountry?? && selectedCountry.id == country.id) || (!selectedCountry?? && country.code == 'US')}selected{/if}>{country.name}</option>
    {/for}
</select>
