{@java.lang.String customId = "timezoneSelect"}
{@java.lang.String customName = "timezoneId"}
{@java.lang.Boolean includePlaceholder = false}
<select name="{customName}" id="{customId}">
    {#if includePlaceholder}
    <option value="">Select time zone</option>
    {/if}
    {#for tz in timezones}
        <option value="{tz.id}" {#if (selectedTimezone?? && selectedTimezone.id == tz.id) || (!selectedTimezone?? && tz.name == 'America/New_York')}selected{/if}>{tz.name}</option>
    {/for}
</select>
